{% extends 'tabs/my_profile.html.twig' %}

{% block sub_tabs %}
    <ul class="sub_tabs">
        <li class="sub_tab" onclick="location.href='{{ path('app_my-profile') }}'" >Stats</li> {# stats is default current sub-tab #}
        <li class="sub_tab" onclick="location.href='{{ path('app_history-ajax', {'type':'best'}) }}'">Battle History</li>
        <li class="sub_tab current" onclick="location.href='{{ path('app_my-profile-achieve') }}'">Achievements</li>
        <li class="sub_tab" onclick="location.href='{{ path('app_my-profile-edit') }}'">Edit Profile</li>
    </ul>
{% endblock %}

{% block dynamic_container %}

{% endblock %}
