{% extends 'homepage.html.twig' %}

{% block battle_tab %}
    <li class="tab" ><a class="current" href="{{ path('app_battle') }}">Battle<span class="sr-only"></span></a></li>
{% endblock %}

{% block sub_tabs %}

    <ul class="sub_tabs">
        <li class="sub_tab default" data-url="my_battle/findgame" onclick="getDynamicTabContent(this)">Find Game</li> {# Find Game is default current sub-tab #}
        <li class="sub_tab" data-url="my_battle/leaderboard" onclick="getDynamicTabContent(this)">Leaderboard</li>
    </ul>
{% endblock %}
