{% extends 'homepage.html.twig' %}

{% block inventory_tab %}
    <li class="current" onclick="toggleCurrentTab(this)"><a href="{{ path('app_inventory') }}">Inventory<span class="sr-only"></span></a></li>
{% endblock %}

{% block inventory %}
    <p style="color: red; margin-top: 100px">
        Youre now in the Inventory page
    </p>
{% endblock %}
