{% extends 'homepage.html.twig' %}

{% block inventory_tab %}
    <li class="tab" ><a class="current" href="{{ path('app_inventory') }}">Inventory<span class="sr-only"></span></a></li>
{% endblock %}

{% block sub_tabs %}
    <ul class="sub_tabs">
        <li class="sub_tab" data-url="inventory/card-catalog" onclick="getDynamicTabContent(this)">Card Catalog</li>
    </ul>
    <ul class="sub_tabs">
        <li class="sub_tab" data-url="inventory/custom-card" onclick="getDynamicTabContent(this)">Custom Card</li>
    </ul>
{% endblock %}

{% block inventory %}
    <p style="color: red;">
        Youre now in the Inventory page
    </p>
{% endblock %}