{% extends 'homepage.html.twig' %}

{% block market_tab %}
    <li class="tab current" onclick="toggleCurrentTab(this)"><a class="current" href="{{ path('app_market') }}">Market<span class="sr-only"></span></a></li>
{% endblock %}

{% block market %}
    <p style="color: red;">
        Youre now in the Market page
    </p>
{% endblock %}