{% extends 'homepage.html.twig' %}

{% block profile_tab %}
    <li class="tab" ><a class="current" href="{{ path('app_my-profile') }}">Profile<span class="sr-only"></span></a></li>
{% endblock %}

{% block sub_tabs %}
    <ul class="sub_tabs">
        <li class="sub_tab default" data-url="my_profile/stats" onclick="getDynamicTabContent(this)">Stats</li> {# stats is default current sub-tab #}
        <li class="sub_tab" data-url="my_profile/battle_history" onclick="getDynamicTabContent(this)">Battle History</li>
    </ul>
{% endblock %}