.card.js-deck-item.char_deck_current
{
   border: 2px solid red;
}

.card.js-deck-item.util_deck_current {
   border: 2px solid orange;
}

.search_player
{
   border-style: solid;
   float: left;
   height: 28em;
   width: 48%;
}

.requests
{
   border-style: solid;
   float:  right;
   height: 28em;
   width: 48%;
}

.player_list
{
   list-style-type: none;
   margin: 3px;
   background-color: #FB5607;
}

.player_list li {
   cursor: pointer;
}

.player_list:nth-child(odd)
{
   background-color: #FFBE0B;
}
.player_list:hover {
   background-color: white;
}

.player_list.current {
   border-top-left-radius: 50px;
   border-bottom-left-radius: 50px;
   background-color: #3A86FF;
}

.leaderboard_title{
   font-family: "Ostrich-Sans Bold";
   font-size: 3em;
   text-align: center;
}

.leaderboard{
   list-style-type: none;
   margin: 3px;
   background-color: #fba717;
}

.leaderboard li{
   cursor: pointer;

}

.leaderboard div{
   display: inline-block;
   width: 30%;
}

.leaderboard:nth-child(odd)
{
   background-color: #2db0ff;
}
.leaderboard:hover {
   background-color: white;
}

.leaderboard.current {
   border-top-left-radius: 50px;
   border-bottom-left-radius: 50px;
   background-color: #3A86FF;
}

.request_tab {
   font-size: 1.5em;
   text-align: center;
   width: 50%;
}

.request_tab a {
   padding: 1%;
   background-color: #FFFFFF;
   border-radius: 35px 35px 0 0;
   display: block;
   color: black;
}

.request_tab a:hover {
   color: #FFFFFF;
   background-color: #ffeb00;
   text-decoration: none;
   cursor: pointer;

}

.request_tab a.current {
   background-color: #ffeb00;
   color: #FFFFFF;
}

.request_tab.current {
   border-top-left-radius: 50px;
   border-bottom-left-radius: 50px;
   background-color: #ffeb00;
}

/*Temporary class for current tab selected*/
.current {
   background-color: #ffeb00;
}