$margin20: 20px;
$margin30: 30px;
$darkGray: #505050;

#sort-bar .row {
    margin-bottom: $margin20;
}
#sort-bar .btn {
    width: 90px;
}
#sort-bar .btn-primary {
    background-color: $darkGray;
    border-color: $darkGray;
}
#sort-bar .fa-arrow-alt-circle-up, #sort-bar .fa-arrow-alt-circle-down {
    color: $darkGray;
}
.icon-button {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    border: 0;
    background: transparent;
}
.card-grid {
    margin-top: $margin20;
}
.row-margin {
    margin-bottom: $margin30;
}
