$statFont: Arial Black;

.card-img .btn {
    background-color: #ffeb00;
    font-weight: 700;
}

label {
    font-size: 16px;
    font-family: $statFont;
}

.slider-value {
    font-size: 24px;
    font-family: $statFont;
}

.success-message {
    font-family: "Lucida Sans Unicode";
}

.card-functions .row {
    margin: 40px 0 40px 0;
}

.card-functions .fa-plus {
     color: blue;
 }

.card-functions .fa-minus {
    color: red;
}

.card-functions .fa-thumbs-up {
    color: #505050;
}

.card-functions .fa-thumbs-down {
    color: #333333;
}

.vote-percentage {
    height: 140px;
    line-height: 140px;
    text-align: center;
    color: #333333;
    font-size: 60px;
    font-weight: bold;
}

.vote-perc-btn {
    margin-bottom: 40px;
}

#votePerc {
    color: #505050;
    text-decoration: none;
}

#votePerc span{
    font-size: 20px;
    font-weight: bold;
    margin-right: 10px;
}

