@import "webfonts.css";

.intro_title{
    color: #0b132b;
    position: absolute;
    top: 25%;
    text-align: center;
    width: 100%;
    font-size: 5em;
    font-family: "Ostrich-Sans Bold";
}


.header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    color: white;
}

.main_content {
    margin-top: 5%;


}

.footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    height: 50px;
    background-color: #1c2541;
    color: white;
    text-align: center;
}

.global-background {
    background-color: lightgrey;
}

.btn-normal {
    font-family: "Ostrich-Sans Black";
    background-color: #FFFFFF;
    color: #1c2541;
}

.btn.btn-normal:hover {
    background-color: #ffeb00;
    color: #FFFFFF;
}

/*Slighlty longer button for top right of containers*/
.btn.btn-banner {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 22px;
    padding-left: 2vw;
}

.tab {
    font-size: 1.5em;
    text-align: center;
    width: 25%;
}

.tab a {
    background-image: url("../images/tab.png");
    background-position: center;
    padding: 1%;
    display: block;
    color: black;
}

.tab a:hover {
    background-image: url("../images/tab_current.png");
    background-position: center;
    color: #FFFFFF;
    text-decoration: none;
}

.tab a.current {
    background-image: url("../images/tab_current.png");
    background-position: center;
    color: #FFFFFF;
    background-color: transparent;
}

/* for tabs */
#triangle-bottomleft {
    width: 0;
    height: 0;
    border-bottom: 100px solid red;
    border-right: 100px solid transparent;
}

.sub_tabs {
    padding-left: 0;
    margin: auto;
    width: 100%;
    text-align: right;
    float: right;
    list-style: none;
}

.sub_tab {
    cursor: pointer;
    font-size: 1.5em;
    padding: 1%;
    padding-right: 2%;
}

.sub_tab:hover {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    background-color: #ffeb00;
}

.sub_tab.current {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    background-color: #ffeb00;
}

/*Temporary class for current tab selected*/
.current {
    background-color: #ffeb00;
}

#dynamic_sub_tabs_container {
    box-shadow: -7px 1px 3px 1px black;
    padding: 1% 0 1% 1%;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    background-color: #FFFFFF;
    width: 15%;
    float: left;
}

#dynamic_container {
    box-shadow: 0 4px 5px 0.5px black;
    height: 480px;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 0 0 10px 10px;
    border: 5px solid #ffeb00;
    padding: 1%;
    margin-left: 15%;
    margin-right: 15%;

}

.custom_container {
    margin-top: 6%;
    margin-left: 15%;
    margin-right: 15%;
}

.header-center {
    box-shadow: 0 1px 5px 1px black;
    margin: 5% auto 5% auto;
    border-radius: 10px;
    width: fit-content;
    background-color: #ffeb00;
    font-family: "Ostrich-Sans Black";
    padding: 2%;
    font-size: 1.75em;
    color: black;
}

.modal-content.custom {
    background-color: lightgray;
}