{% extends 'base.html.twig' %}

{% if app.request.get('_route') == 'fos_user_registration_register' %}
    {% set titleName='Registration Page' %}
{% else %}
    {% set titleName='Login Page' %}
{% endif %}


{% block title %} {{ titleName }} {% endblock %}

{% block body %}
    <div class="container">
        <div class="row center-div">
            <div class="col-xs-12">
                {% block fos_user_content %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
