{% extends 'base.html.twig' %}

{% block title %}Create New Char Deck {% endblock %}

{% block body %}

<div class="container">

    <h1 class="text-center">Create new deck</h1>

     {{ form_start(charDeck) }}
    {{ form_widget(charDeck) }}
    <button type="submit" class="btn btn-primary" formnovalidate>Create</button>
    {{ form_end(charDeck) }}

</div>
{% endblock %}
