{% extends 'base.html.twig' %}

{% block body %}



    {% if is_granted('ROLE_USER') %}


    {% else %}
            <h1 class="intro_title">
                Celebrity Battle Simulator
            </h1>
    {% endif %}

    {% if is_granted('ROLE_USER') %}

        {# Testing dynamic content retrieval #}
        {% block dynamic %}
        {% endblock %}


        <nav class="custom_container">
            <div id="navbarSupportedContent">
                <ul class="nav">
                    {% block profile_tab %}
                        <li class="tab" onclick="toggleCurrentTab(this)"><a href="{{ path('app_my-profile') }}">Profile<span class="sr-only"></span></a></li>
                    {% endblock %}

                    {% block inventory_tab %}
                        <li class="tab" ><a  href="{{ path('app_inventory') }}">Inventory<span class="sr-only"></span></a></li>
                    {% endblock %}

                    {% block battle_tab %}
                        <li class="tab" ><a  href="{{ path('app_battle') }}">Battle<span class="sr-only"></span></a></li>
                    {% endblock %}

                    {% block market_tab %}
                    <li class="tab" ><a href="{{ path('app_market') }}">Market<span class="sr-only"></span></a></li>
                    {% endblock %}

                </ul>
            </div>

        </nav>

        <div id="dynamic_sub_tabs_container">
            {% block sub_tabs %}
            {% endblock %}
        </div>

        {#Dynamic content for each tab#}
        <div id="dynamic_container">
            {% block dynamic_container %}
                {% endblock %}
        </div>


    {% endif %}

    <div class="footer">
        <p>Contact, FAQ</p>
        <p>Travis, Darshan, Devin, John</p>
    </div>

{% endblock %}