<div style="background-color: {{ notify_color }}" class="notify_container" onclick="closeNotification(this)">
    <h5 class="notify_title">{{ notify_title }}</h5>
    <p class="notify_msg">{{ notify_msg }}</p>
</div>