{% extends "homepage.html.twig" %}

{% block body %}
    {{ form_start(avatarForm) }}
    {{ form_row(avatarForm.image_path) }}
    <button class="btn btn-primary">Upload</button>
    {{ form_end(avatarForm) }}

{% endblock %}