{% extends 'base.html.twig' %}

{% block body %}
    <p>2fa is not enabled</p>
    <img src="{{ qr_code_data_uri(qrContent, { writer: 'png', label: secret }) }}" />


    {{ secret }}
    {{ qrContent }}
    {#{{ x }}#}
{% endblock %}