{% extends 'base.html.twig' %}

{% block body %}

    <h1>New Cards</h1>
    <h2>Char Cards</h2>

    {% for charCard in charCards %}
    {{ charCard.charName }}
    {% endfor %}

    <h2>Util Cards</h2>
    {% for utilCard in utilCards %}
        {{ utilCard.utilName }}
    {% endfor %}

{% endblock %}